#container {
    position: fixed;
    width: 350px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -290px;
    margin-left: -170px;

}

#table1{
border:2px solid;
column-width:100px;
}
    #table1 td {
    border:1px solid;
    }
body {

    background-color:#0094ff;
}